* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

main{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background:radial-gradient(circle,rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1{
	text-align: center;
	color: white;
	font-size: 3rem;
}

.box {
    width: auto;
    height: 50vh;
    background: linear-gradient(#ec92af 0%, #5fc3e4 100%);
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.sec1 {
    height: 35%;
    padding: 10px;
    margin-top: 12.5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instruction {
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    font-size: 1.3rem;
    color: white;
}

#operand1, #operand2 {
    padding: 1.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
}

#operator {
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 25%;
    font-size: 1.3rem;
    color: white;
}

#operand1, #operator, #operand2 {
    margin: 10px;
} 

.sec2 {
    height: 65%;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#option1, #option2, #option3, #option4 {
    border: 1px solid white;
    border-radius: 25%;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

#msgbox {
    width: 90%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
}